* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reset-all-styles {
    all: initial;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hide {
    display: none !important;
}

.container {
    width: max(92vw, 992px);
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79.72px;
    padding: 15px 0;
}

.logo {
    width: max-content;
    height: 50px;
    padding: 0 15px;
}

.logo img {
    display: block;
    width: 136.15px;
    height: 100%;
    object-fit: contain;
    max-width: 140px;
    padding: 7px 0;
}

.navBar {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
    gap: 5px;
    padding: 0 15px;
}

.navMain > ul {
    min-width: 56vw;
    max-width: 62vw;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
}

.navMain > ul> li {
    height: 100%;
    display: flex;
    align-items: center;
}

.navMain-dropdown-item {
    padding: 5px 15px;
    position: relative;
}

.navMain-dropdown-item:hover {
    background-color: #e87722;
}

.portfolio-list {
    width: max-content;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #0c2340;
}

.navMain-dropdown-item__name {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}

.navMain-dropdown-item .bi-chevron-down {
    -webkit-text-stroke: 0.8px;
    color: #000;
}

.portfolio-list li {
    list-style: none;
}

.portfolio-list li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.languages {
    width: 34.04px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 1px black;
}

.languages, .search ,.menu {
    width: 30.04px;
    height: 30.04px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1a2947; 
    border-radius: 50%; 
    background-color: #ffffff; 
    cursor: pointer;
}

.menu i {
    font-size: 20px; 
    color: #000; 
}

.menu:hover {
    background-color: #f0f0f0;
}

.intro-slider {
    height: 400px;
    width: auto;
    background-color: darkgray;
}

.footer--top {
    background-color: #ddd;
}

.footer--top ul li a {
    color: #0c2340;
    margin: 0;
    padding: 0;
}

.footer--top ul li a p {
    text-transform: uppercase;
    margin: 0;
}


/* Competences */
.competences {
    background-color: chartreuse;
    padding: 0 140px;
}

.competences h1 {
    background-color: #e87722;
    text-align: left;
}

.competences > p {
    background-color: aqua;
}
.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.gallery > a {
    position: relative;
    
}

.gallery > img {
    display: inline-block;
    width: 100%;
    aspect-ratio: 16/10;
    object-fit: fill;
}

.gallery .img-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    text-wrap: wrap;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 8px;
    background-color: rgba(0,0,0,0.3);
    height: 30%;
    transition: height 0.9s;
    font-size: 14px;
}

.gallery .img-title:hover {
    height: 100%;
}



/* end */



